RewriteEngine On
Header set Access-Control-Allow-Origin "*"
RewriteBase /WebAPI/logout/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^.*$ /WebAPI/logout/ [L,QSA]