RewriteEngine On
Header set Access-Control-Allow-Origin "*"
RewriteBase /WebAPI/users/publicationPlace/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^.*$ /WebAPI/users/publicationPlace/ [L,QSA]