RewriteEngine On
Header set Access-Control-Allow-Origin "*"
RewriteBase /WebAPI/login/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^.*$ /WebAPI/login/ [L,QSA]