RewriteEngine On
<IfModule mod_headers.c>
    SetEnvIfNoCase Origin "http://?(172.31.50.70|localhost)(:\d+)?$" AccessControlAllowOrigin=$0
    Header set Access-Control-Allow-Origin %{AccessControlAllowOrigin}e env=AccessControlAllowOrigin
</IfModule>
RewriteBase /sensei-sensor-php/WebAPI/groups/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^.*$ /sensei-sensor-php/WebAPI/groups/ [L,QSA]