RewriteEngine On
RewriteBase /WebConsole/users/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^.*$ /WebConsole/users/userList/ [L,QSA]